<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/data/jpa
     	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	<!-- Configure Spring Data JPA and set the base package of the repository 
		interfaces -->
	<!-- scan the package and the sub package -->
	<context:component-scan base-package="com.mvc" />

	<beans:bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<beans:property name="basename" value="messages" />
	</beans:bean>

	<!-- 内部资源视图解析器，前缀 + 逻辑名 + 后缀 -->
	<beans:bean id="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/pages/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>



	<!-- Hibernate 4 SessionFactory Bean definition -->
	<!-- <beans:bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"> 
		<beans:property name="dataSource" ref="dataSource" /> <beans:property name="annotatedClasses"> 
		<beans:list> <beans:value>com.mvc.domain.Student</beans:value> <beans:value>com.mvc.domain.Course</beans:value> 
		<beans:value>com.mvc.domain.Grade</beans:value> <beans:value>com.mvc.domain.Teacher</beans:value> 
		</beans:list> </beans:property> <beans:property name="hibernateProperties"> 
		<beans:props> <beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect 
		</beans:prop> <beans:prop key="hibernate.show_sql">true</beans:prop> </beans:props> 
		</beans:property> </beans:bean> <beans:bean id="studentDAO" class="com.mvc.dao.StudentDAOImpl"> 
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" 
		/> </beans:bean> <beans:bean id="studentService" class="com.mvc.service.StudentServiceImpl"> 
		<beans:property name="studentDAO" ref="studentDAO"></beans:property> </beans:bean> 
		<beans:bean id="courseDAO" class="com.mvc.dao.CourseDAOImpl"> <beans:property 
		name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" /> </beans:bean> 
		<beans:bean id="courseService" class="com.mvc.service.CourseServiceImpl"> 
		<beans:property name="courseDAO" ref="courseDAO"></beans:property> </beans:bean> 
		<beans:bean id="teacherDAO" class="com.mvc.dao.TeacherDAOImpl"> <beans:property 
		name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" /> </beans:bean> 
		<beans:bean id="teacherService" class="com.mvc.service.TeacherServiceImpl"> 
		<beans:property name="teacherDAO" ref="teacherDAO"></beans:property> </beans:bean> 
		<beans:bean id="gradeDAO" class="com.mvc.dao.GradeDAOImpl"> <beans:property 
		name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" /> </beans:bean> 
		<beans:bean id="gradeService" class="com.mvc.service.GradeServiceImpl"> <beans:property 
		name="gradeDAO" ref="gradeDAO"></beans:property> </beans:bean> -->

	<!-- <beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"> 
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" 
		/> </beans:bean> -->

	<tx:annotation-driven transaction-manager="transactionManager" />

	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/STUDENTS" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="862394" />
	</beans:bean>

	<beans:bean id="myEmf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="packagesToScan" value="com.mvc.domain" />
		<beans:property name="jpaVendorAdapter">
			<beans:bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</beans:property>
		<beans:property name="jpaProperties">
			<beans:props>
				<beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect
				</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>

	<beans:bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<beans:property name="entityManagerFactory" ref="myEmf" />
	</beans:bean>

	<beans:bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<mvc:annotation-driven conversion-service="conversionService"/>

	<beans:bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<beans:property name="converters">
			<beans:list>
				<beans:bean class="com.mvc.converter.courseNameConverter" />
			</beans:list>
		</beans:property>
		<beans:property name="formatters">
			<beans:set>
				<beans:bean
					class="org.springframework.format.number.NumberFormatAnnotationFormatterFactory" />
			</beans:set>
		</beans:property>
		<!-- <beans:property name="formatterRegistrars">
			<beans:set>
				<beans:bean
					class="org.springframework.format.datetime.joda.JodaTimeFormatterRegistrar">
					<beans:property name="dateFormatter">
						<beans:bean
							class="org.springframework.format.datetime.joda.DateTimeFormatterFactoryBean">
							<beans:property name="pattern" value="yyyyMMdd" />
						</beans:bean>
					</beans:property>
				</beans:bean>
			</beans:set>
		</beans:property> -->
	</beans:bean>


</beans:beans>